* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-photo/assortment-cinema-elements-red-background-with-copy-space_23-2148457848.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

header .logo img {
    width: 100px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.banner {
   
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-family: 'Arial', sans-serif;
}

.banner-content h1 {
    font-size: 50px;
    font-weight: bold;
    color: black;
}

.banner-content p {
    font-size: 18px;
    margin: 10px 0;
}

.cta-button {
    background-color: red;
    padding: 12px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.features {
    padding: 40px 20px;
    background-color: #141414;
    text-align: center;
}

.features h2 {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
}

.feature-items {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.feature-item {
    text-align: center;
    width: 200px;
}

.feature-item img {
    width: 100%;
    max-width: 150px;
}

footer {
    background-color: #141414;
    padding: 20px;
    text-align: center;
}
